*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    
}

.header{
    height: 95vh;
    background-image:url(ai.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 100%);
    position: relative;
}
.title{
    position: absolute;
    text-align: center;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    
}

.heading-primary-main{
    display: block;
    font-size: 50px;
    font-weight: 400;
    text-transform:uppercase;
    animation-name: moveleft;
    animation-duration: 3s;
    
}
@keyframes moveleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
    
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    
}

.btn-white{
    color: #777;
}

#im{
    width: 100%;
    height: 600px;
    margin-top: 6%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.des{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
    text-transform:uppercase;
}

p{
    font-family: cursive;
}
.tags {
    margin-left: 10%;
    margin-top: 10px;
}
.sp{
    font-size: 12px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 2px;
    border: 1px solid white;
    background-color: cornflowerblue;
    color: white;
    border-radius: 100px;
}

.stat{
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    font-family: monospace;
    margin-top: 20px;
    color: green;
    font-weight: 400;
    text-transform:uppercase;
    
}

.horiline{
    
    margin:20px 0;
}

.auth{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    text-transform:uppercase;
}
.our-team{
    padding: 30px 0 40px;
    background: white;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 2px solid cornflowerblue; 
    margin-bottom: 20px;
}
.our-team .pic{
    display: inline-block;
    width: 130px;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.our-team .pic:before{
    content: "";
    width: 100%;
    background: cornflowerblue;
    position: absolute;
    bottom: 115%;
    right: 0;
    left: 0;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{
    height: 100%;
}

.our-team .pic:after{
    content: "";
    widows: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ee4266;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .pic img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    
}

.our-team .team-content{
    margin-bottom: 30px;
}

.our-team .nm{
    font-size: 22px;
    font-weight: 700px;
    color: #4e5052;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-transform:uppercase;
    margin-bottom: 5px;
}

.our-team .post{
    display: block;
    font-size: 15px;
    color:#4e5052;
    text-transform: capitalize;
    text-transform:uppercase;
}

.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    background: cornflowerblue;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}


.our-team:hover .social{
    bottom: 0;
}

.our-team .social li{
    display: inline-block;
}

.our-team .social li i{
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
}
.our-team .social li i:hover{
    color: cornflowerblue;
    background: #f7f5ec;
    text-decoration: none;
}


.tags li{
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    background-color: cornflowerblue;
    color: white;
    border-radius: 100px;
    margin: 5px;
    
}


